<div class="box">
	<div class="slide story" id="slide-2" data-slide="2">
	    <div class="container">
	      <div class="row title-row">
	        <div class="col-12 font-thin"><%= image_tag('logo2.png', alt: "logo", title: "Dent Group", class: "logo") %> <span class="font-semibold">connects</span> you with your colleagues from <span class="font-semibold">everywhere around the world.</span></div>
	      </div><!-- /row -->
	      <div class="row line-row">
	        <div class="hr">&nbsp;</div>
	      </div><!-- /row -->
	      <div class="row subtitle-row">
	        <div class="col-12 font-thin">This is what <span class="font-semibold">we can offer you</span></div>
	      </div><!-- /row -->
	      <div class="row content-row">
	        <div class="col-12 col-lg-3 col-sm-6">
	          <p><i class="fa fa-globe"></i></p>
	          <h2 class="font-semibold">Connect</h2>
	          <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
	        </div><!-- /col12 -->
	        <div class="col-12 col-lg-3 col-sm-6">
	          <p><i class="fa fa-share-square-o"></i></p>
	          <h2 class="font-semibold">Share</h2>
	          <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
	        </div><!-- /col12 -->
	        <div class="col-12 col-lg-3 col-sm-6">
	          <p><i class="fa fa-users"></i></p>
	          <h2 class="font-semibold">Discuss</h2>
	          <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
	        </div><!-- /col12 -->
	        <div class="col-12 col-lg-3 col-sm-6">
	          <p><i class="fa fa-pencil-square-o"></i></p>
	          <h2 class="font-semibold">Something else</h2>
	          <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
	        </div>
	      </div>
	    </div>
  	</div>
</div>