<div class="box customer-box">
	<div class="customer-title">
	</div>
	<div class="customer-links">
		<%= link_to 'Edit', edit_bad_customer_path(@customer), class: 'btn btn-primary btn-sm' %>
	</div>
</div>