<span class="label label-warning search-label">Supplier</span><h3><%= link_to object.name, object %></h3>

<ul class="search-supplier-details pull-left">
	<li>Address: <span><%= object.address %></span></li>
	<li>Location: <span><%= "#{object.city}, #{object.country}" %></span></li>
</ul>