# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure your secret_key_base is kept private
# if you're sharing your code publicly.
Drs::Application.config.secret_key_base = '5fc0a6b0019041b63e5b2a6e223cacb25d1607762ad293900776b74100556a4c0dcdafc82647fc8079e13a92ddd776298fc84ea800d8d201cbf0403ac90159bd'
