<div class="box news-box">
	<div class="news-title">
		<h1><%= @news.title %></h1>
		<span class="timestamp"><%= time_ago_in_words(@news.published_at) %> ago</span>
	</div>
	<div class="news-links">
		<%= link_to 'Edit', edit_news_path(@news), class: 'btn btn-primary btn-sm' %>
	</div>

	<hr/>

	<div class="news-body">
		<%= raw(@news.body) %>
	</div>
</div>