.profile-container {
	position: relative;

	.profile-info {
		> a:hover .profile-picture {
			border-color: #ccc;
		}
		.profile-picture {
			width: 130px;
			margin-bottom: 5px;

			padding: 10px;
			border: 1px solid #eee;
		}
		p {
			margin-bottom: 0px;

			&.profile-info-name {
				font-size: 16px;
				font-weight: bold;
			}
			&.profile-info-specialization {
			}
			&.profile-info-location {
				font-size: 12px;
			}
		}
	}
	.profile-feed-container {
		.profile-feed-list {
			margin-top: 5px;

			.feed-item {
				margin-bottom: 10px;
				padding: 10px;

				&> a img {
					width: 50px;
					float: left;
					margin-right: 10px;
				}
				.feed-item-container {
					margin-left: 60px;
					position: relative;

					h5 {
						margin-bottom: 3px;
						a {
							color: #3b5998;
							cursor: pointer;
							text-decoration: none;
							font-weight: bold;
							&:hover {
								text-decoration: underline;
							}
						}
					}
					.feed-item-content {
						margin-bottom: 3px;
					}
					.feed-item-images {
						clear: both;
						overflow: hidden;

						img {
							max-width: 100px;
							max-height: 100px;
						}

						.feed-item-image-container {
							float: left;
							margin-right: 5px;
							position: relative;

							.feed-item-image-delete {
								position: absolute;
								right: 2px;
								top: 2px;
								text-decoration: none;
								color: red;

								&:hover {
									color: #555;
								}
							}
						}
					}
					.feed-comment-form {
						margin-top: 10px;

						ul {
							list-style-type: none;
							margin: 0;
							padding: 0;

							li {
								clear: both;
								margin-bottom: 1px;
								padding: 4px;
								background-color: #edeff4;
								word-wrap: break-word;
								display: list-item;
								overflow: auto;
								position: relative;

								.feed-item-comment-user-icon {
									float: left;
									width: 40px;
									margin-right: 10px;
								}

								.feed-item-comment-content {
									margin-left: 42px;
									.feed-item-comment-body {
										color: #000;
									}
								}
								.comment_input {
									width: 70%;
								}
							}
						}

						.input.string {
							display: inline-block;
						}
					}
					.btn-remove-status {
					}
					.btn-remove-comment {
					}
				}
			}
			#loadMoreContainer {
				text-align: center;
				padding: 6px 0;
			}
		}
		.profile-feed-form {
			padding-top: 15px;
			div.input.text {
				width: auto;
				margin-bottom: 10px;
			}
			.btn-primary {
				float: right;
			}
		}
	}
}

.profile-followers-container {
	ul {
		list-style-type: none;
		padding: 0;
		li {
			float: left;
			margin-right: 4px;
		}
	}
}

.search-results-container {
	.search-label {
		float: left;
		margin-top: 25px;
		margin-right: 5px;
	}
	.profile-picture {
		width: 32px;
		float: left;
		margin-top: 15px;
		margin-right: 4px;
	}
}