#addJobForm {
	.form-inputs {
		overflow: auto;
	}
	.input.string,
	.input.country,
	.input.text,
	.input.select {
		width: 300px;
	}
	.input.integer {
		width: 50px;
	}
	.date_picker {
		width: 200px;
		display: inline;
		input {
			float: left;
		}
		.add-on {
			float: left;
			font-size: 20px;
			margin-top: 6px;
			margin-left: 5px;
		}
	}
	.btn-primary {
		clear: both;
	}
}