form {
	.form-inputs {
		overflow: auto;
	}
	.input.string,
	.input.country,
	.input.text,
	.input.email,
	.input.tel,
	.input.select {
		width: 300px;
	}
	.input.integer {
		width: 50px;
	}
	.btn-primary {
		clear: both;
	}
	.job_contact_email {
		clear: both;
	}
}

.jobs-box {
	.jobs-list {
		margin: 0;
		padding: 0;
		list-style: none;

		h4 {
			margin-bottom: 0px;
			margin-top: 0px;
		}

		.job-item {
			margin-bottom: 20px;

			a {
				color: #006AA4;
				min-height: 70px;
				padding: 0;
				display: block;
				width: 100%;
				text-decoration: none;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				-webkit-box-flex: 1;
				-moz-box-flex: 1;
				box-flex: 1;
			}

			.job-item-company {
				color: #333;
				font-size: 14px;
				margin: 0;

				.job-item-company-name,
				.job-item-location {
					font-weight: bold;
				}
			}
			.job-item-time {
				padding: 0;
				color: #999;
				font-family: "PTSerif",Georgia,serif;
				font-style: italic;
				font-size: 12px;
				line-height: 21px;
				padding-left: 18px;
				margin-left: 10px;
				background-image: url("/assets/article.svg");
				background-repeat: no-repeat;
				background-position: center left;

				i {
					font-weight: bold;
				}
			}
			.job-image {
				float: left;
				margin-right: 5px;
				img {
					width: 80px;
					max-height: 80px;
				}
			}
			.job-details {
				float: left;
			}
		}
	}
}

.job-box {
	h1 {
		color: #006AA4;
		margin-bottom: 0px;	
	}
	h5 {
		margin: 5px 0;
		span {
			font-weight: bold;
		}
	}
	hr {
		margin: 5px 0;
		border-top: 1px solid #ccc;
		clear: both;
	}
	.job-title {
		float: left;
	}
	.job-links {
		float: right;
		margin-top: -25px;
		margin-right: 5px;
	}
	.job-info {
		table {
			width: 100%;
			border: 0px none;
			border-collapse: collapse;
			font-size: small;

			.job-cname {
				font-weight: bold;
				padding: 1px 0px;
				width: 15%;
			}
			.job-cvalue {
				width: 35%;
			}
			.job-image {
				padding: 5px;
				text-align:center;
				img {
					max-width: 80px;
					max-height: 80px;
				}
			}
		}
	}
	.job-description {
		margin-top: 20px;
		border-left: 3px solid #ddd;
		padding-left: 10px;
		margin-left: 10px;
	}
}