.news-list-box {
	.news-box {
		float: left;
		margin-right: 5px;

		&.news-box-3 {
			width: 33%;
		}
		&.news-box-2 {
			width: 49.5%;
		}
	}
	.news-box:last-child {
		margin-right: 0px;
	}

	.news-list {
		list-style: none;
		padding-left: 0;

		.news-item {
			h4 {
				margin-bottom: 5px;
			}
			a {
				text-decoration: none;
			}
			.news-item-time {
				font: 14px/16px "PTSerif",Georgia,serif;
				color: #999;
			}
		}
	}
}

.news-thumb-image {
	padding: 5px 10px 10px 0;
}

#loadMoreContainer {
	text-align: center;
	padding: 6px 0;
	margin-top: 10px;
}