.news-list-box {
	.news-box {
		float: left;
		margin-right: 5px;
		width: 100%;
	}
	.news-box:last-child {
		margin-right: 0px;
	}

	.news-list {
		list-style: none;
		padding-left: 0;

		.news-item {
			margin-top: 5px;


			h4 {
				margin-bottom: 5px;
			}
			a {
				text-decoration: none;
			}
			.news-item-time {
				font: 14px/16px "PTSerif",Georgia,serif;
				color: #999;
			}
		}
	}
}

.news-thumb-image {
	padding: 5px 10px 10px 0;
}

.news-list {
	.news-item {
		margin-bottom: 10px;
	}
}

#loadMoreContainer {
	text-align: center;
	padding: 6px 0;
	margin-top: 10px;
}
.news-list-container {
	.col-sm-4 {
		padding: 5px;
	}
}