.offers-box {
	.offers-list {
		list-style: none;
		padding-left: 0;

		.offer-item {
			margin-bottom: 10px;
			
			h4 {
				margin-bottom: 5px;
			}
			a {
				text-decoration: none;
			}
			.offer-item-time {
				font: 14px/16px "PTSerif",Georgia,serif;
				color: #999;
			}

			.offer-image-link {
				img {
					max-width: 80px;
					max-height: 80px;
					margin-right: 10px;
				}
			}
		}
	}
}

.offer-box {
	h1 {
		color: #006AA4;
		margin-bottom: 0px;	
	}
	h5 {
		margin: 5px 0;
		span {
			font-weight: bold;
		}
	}
	hr {
		margin: 5px 0;
		border-top: 1px solid #ccc;
		clear: both;
	}
	.offer-title {
		float: left;
		margin-bottom: 10px;
	}
	.offer-links {
		float: right;
		margin-right: 5px;
	}
	.offer-info {
		table {
			width: 100%;
			border: 0px none;
			border-collapse: collapse;
			font-size: small;

			.offer-cname {
				font-weight: bold;
				padding: 1px 0px;
				width: 15%;
			}
			.offer-cvalue {
				width: 35%;
			}
			.offer-image {
				padding: 5px;
				text-align:center;
				img {
					max-width: 80px;
					max-height: 80px;
				}
			}
		}
	}

	.offer-summary {
		margin-top: 20px;
	}

	.offer-description {
		margin-top: 20px;
		border-left: 3px solid #ddd;
		padding-left: 10px;
		margin-left: 10px;
	}
}