@import "bootstrap";
@import 'bootstrap-datetimepicker';

@font-face{font-family:'AdelleSansWeb';src:asset-url('AdelleSansWeb/AdelleSansBasic_Bold.eot?#iefix') format('embedded-opentype'),asset-url('AdelleSansWeb/AdelleSansBasic_Bold.woff') format('woff'),asset-url('AdelleSansWeb/AdelleSansBasic_Bold.ttf') format('truetype');font-weight:700}
@font-face{font-family:'PTSerif';src:asset-url('PTSerif/PTF55F-webfont.eot');src:asset-url('PTSerif/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),asset-url('PTSerif/PTF55F-webfont.woff') format('woff'),asset-url('PTSerif/PTF55F-webfont.ttf') format('truetype'),asset-url('PTSerif/PTF55F-webfont.svg#PTSerifRegular') format('svg');font-weight:normal;font-style:normal}

.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}
#lp {
	background-color: #ddd;
}

.justify-text {
	text-align: justify;
}

#loginForm {
	color: #fff;
	margin-top: 8px;
}

.navbar {
	background-color: #333;
	border-bottom: 0 none;
	font-size: 12px;
	transition: .25s all linear;

	.menu-item {
		a {
			text-transform: uppercase;
		}

		.dropdown {
			position: absolute;
			top: 30px;
			width: 100px;
			background-color: #333;
			padding: 10px 4px 6px 4px;
			display: none;

			ul {
				list-style: none;
				padding-left: 0px;

				li {
					margin-bottom: 2px;
					&.last {
						margin-bottom: 0px;
					}

					a {
						display: block;
						width: 100%;
						text-decoration: none;
					}

					a:hover {
						background-color: #4B4B4B;
					}
				}
			}
		}
	}
}
#lp .navbar {
	background-color: #e4e6e5;
	background-color: rgba(37, 37, 37, 0.85);
	height: 54px;
}

.navbar .nav a {
	color: #fff;
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	transition: all .5 linear;
}
#lp .navbar .nav a {
	color: #fff;
}

.navbar-responsive-collapse {
	margin: 0 auto;
	width: 100%;
}

.nav-collapse > .row {
	position: relative;
}

ul.nav {
	width: 940px;
}
#lp ul.nav {
	width: auto;
}

.nav li {
	text-align: center;
	white-space: nowrap;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: inherit;
	outline: none;
}

.navbar-brand {
	padding: 8px;
}

.active-menu {
	background-color: #fff;
	content: '.';
	display: block;
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .5 linear;
	width: 1%;
	z-index: 9;
}

.special-active-menu {
	z-index: 10;
}

@media (max-width: 767px) {
	
	.nav li {
		text-align: left;
		white-space: nowrap;
	}
	
	.navbar-responsive-collapse  {
		width: 100%;
	}
	
	.active-menu {
		display: none !important;
	}
	
	.navbar-toggle {
		margin-right: 10px;
	}
	
	.navbar {
		background-color: #e4e6e5 !important;
		padding: 0;
	}
	
	.navbar .nav a {
		color: #e4e6e5;
		font-size: 16px;
		padding-left: 0;
	}
	
	.icon {
		margin-right: 12px;
	}
			
	.nav li[data-slide="1"],
	.nav li[data-slide="6"] {
		background-color: #2f2f2f;
	}
	
	.nav li[data-slide="2"] {
		background-color: #1abc9c;
	}
	
	.nav li[data-slide="3"] {
		background-color: #e74c3c;
	}
	
	.nav li[data-slide="4"] {
		background-color: #34495e;
	}
	
	.nav li[data-slide="5"] {
		background-color: #e67e22;
	}
	
	.navbar-brand {
		margin: 0;
		text-align: left;
	}
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.slide {
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 50px;
	text-align: center;
}

#slide-1 {
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	background-attachment: relative;
	background-position: center center;

	color: #000;
	text-shadow: 0px 1px 0px #ebebeb;

	.img-logo {
		margin-top: 30px;
		height: 200px;
	}
}

#slide-1 h1 {
	padding-top: 90px;
}

@media (max-width: 991px) {
	#slide-1 {
		background-position: -70% 0, 170% 0;
	}
}

@media (max-width: 767px) {
	#slide-1 {
		background-image: none;
	}
}

	#home-row-1 {
		padding-top: 25px;
	}
	
	#home-row-1 h1 {
		font-size: 54px;
	}
	
	#home-row-1 h4 {
		font-size: 32px;
	}
	
	#home-row-2 {
		font-size: 25px;
	}
	
	#home-row-2 .col-12 {
		height: 232px;
		padding-top: 30px;
	}
	
	#home-row-2 .col-12 .home-hover {
		height: 166px;
		overflow: hidden;
		padding-top: 26px;
		transition: all ease-in .5s;
	}
	
	#home-row-2 .col-12 .home-hover:hover {
		height: 166px;
		padding-top: 0;
	}

@media (max-width: 767px) {
	#home-row-1,
	#home-row-2 {
		padding-top: 16px;
	}
	
	#home-row-1 h1 {
		font-size: 35px;
	}
	
	#home-row-1 h4 {
		font-size: 21px;
	}
	
	#home-row-2 {
		font-size: 16px;
	}
}

#slide-2 {
	color: #303030;
	padding-top: 30px;
	padding-bottom: 20px;

	i {
		font-size: 80px;
	}

	.title-row {
		font-size: 45px;
		padding-bottom: 50px;
	}

	.subtitle-row {
		font-size: 35px;
		padding-bottom: 40px;
		padding-top: 40px;
	}

	.content-row {
		padding-top: 45px;
	}

	.line-row .hr {
		background-color: #303030;
		height: 5px;
		margin: 0 auto;
		width: 33%;
	}

	.logo {
		height: 80px;
		margin-top: 3px;
	}
}

#lp {
	.title-row {
		font-size: 45px;
		padding-bottom: 50px;
	}
	
	.line-row .hr {
		background-color: #e4e6e5;
		height: 5px;
		margin: 0 auto;
		width: 33%;
	}
	
	.subtitle-row {
		font-size: 35px;
		padding-bottom: 40px;
		padding-top: 40px;
	}
	
	.content-row {
		padding-top: 45px;
	}
	
	.content-row i,
	#about-row-5 i {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	.content-row h2 {
		font-size: 28px;
		padding-bottom: 40px;
	}
	
	.content-row h4 {
		font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 20px;
		font-weight: 300;
	}
	
	i {
		font-size: 80px;
		color: white;
	}
}

@media (max-width: 767px) {
	.title-row {
		font-size: 34px;
		padding-bottom: 33px;
	}
	
	.subtitle-row {
		font-size: 26px;
		padding-bottom: 26px;
		padding-top: 26px;
	}
	
	.content-row {
		padding-top: 29px;
	}
	
	.content-row h2 {
		font-size: 24px;
		padding-bottom: 26px;
	}
	
	.content-row h4 {
		font-size: 20px;
	}
}


.with-hover-text span {
	display: none;
}

.navigation-slide {
	cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbar-brand {
    float: left;
    max-width: none;
    margin-right: 5px;
    margin-left: -15px;
  }
  .navbar-nav {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    border-radius: 0;
  }
  .navbar-nav.pull-right {
    float: right;
    width: auto;
  }
  .navbar-toggle {
    position: relative;
    top: auto;
    left: auto;
    display: none;
  }
  .nav-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}

#home-row-2 div.signup {
	background-color:rgba(255,255,255,0.7);
	box-shadow: 3px 3px 10px #333;
	padding: 15px 10px;
	height: auto;
}

#home-row-2 div.signup form 
#home-row-2 div.signup form input[type='email'],
#home-row-2 div.signup form input[type='password'] {
	width: 100%;
}
#home-row-2 div.signup 
#home-row-2 div.signup form 
#home-row-2 div.signup form #user_lname,
#home-row-2 div.signup form #user_fname {
	width: 100%;
}
#home-row-2 div.signup form div.user_fname,
#home-row-2 div.signup form div.user_lname {
	width: 48%;
	float: left;
}
#home-row-2 div.signup form div.input {
	margin: 3px 0;
}
#home-row-2 div.signup form div.user_fname {
	margin-right: 4%;
}
#home-row-2 div.signup form div.user_email {
	clear: both;
}
#home-row-2 div.signup form .errors-container {
	clear: both;
}
#home-row-2 div.signup form p.text-danger {
	font-size: 12px;
	text-align: left;
	padding-left: 6px;
}
#home-row-2 div.signup-container {
	height: 300px;
}
#slide-1 #home-row-1 {
	padding-top: 0;
}
#slide-1 .feat-badge {
	margin-top: 60px;
}

.nav {
	@media (min-width: 768px) {
		.col-sm-2 {
			width: 14%;
		}
		.col-sm-4 {
			width: 44%;
		}
	}
}

.signin {
	margin-top: 6px;
	color: #fff;
	#signinForm {
		.form-inputs {
			overflow: auto;
		}
		.user_email {
			float: left;
		}
		.user_password {
			float: left;
			margin-left: 4px;
		}
		.form-control {
			height: 24px;
			padding: 1px 4px;
		}
		.form-group {
			margin-bottom: 0px;
			width: 35%;
		}
		.btn-primary {
			margin-left: 4px;
			margin-top: 1px;
			clear: none;
			float: left;
		}
		.login-additional {
			clear: both;
		}
		.remember-me {
			float: left;
			width: 35%;
			text-align: left;
		}
		.forgot-password {
			float: left;
			margin-left: 6px;
		}
	}
}

.language-picker {
	float: left;
	margin-top: 30px;
	color: #fff;

	> div {
		float: left;
		margin-right: 5px;
	}

	.flag {
		margin-top: 4px;
	}
}

#menu-additional {
	float: right;
	text-align: left;
	margin-top: 3px;
	li {
		text-align: left;
	}
	.dropdown-toggle {
		font-size: 20px;
	}
	.dropdown-menu a {
		color: #000;
		margin-top: 4px;
	}
	.dropdown {
		float: left;
		height: 42px;
		background-color: #444;
		padding: 4px;
		border: 1px solid #666;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
		box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);

		.dropdown-pic {
			float: left;
		}
		.dropdown-name {
			float: left;
			margin-left: 3px;
			p {
				margin: 0;
				padding: 0;
			}
			.dropdown-name-full {
				font-size: 14px;
			}
			.dropdown-name-specialization {
				color: #ccc;
				font-style: italic;
				font-size: 11px;
				line-height: 10px;
				margin-top: 1px;
			}
		}
		&:hover {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			background-color: #555;
		}
	}
	.dropdown-toggle {
		background: none;
		text-decoration: none;
	}

	.country-select {
		float: left;
		margin-right: 10px;
		margin-top: 6px;

		#countrySelect_msdd {
			width: 150px !important;
		}
	}
}

#menu-search-box {
	position: absolute;
	right: 10px;
	top: 8px;
	width: 100px;
}



#main-top-left-menu {
	.menu-item {
		float: left;
	}
}

.navbar .menu-profile-icon {
	width: 32px;
}

body {
	background-color: #eee;
}

.box {
	background: #fff;
	-webkit-box-shadow: 0 0 1px #999;
	-moz-box-shadow: 0 0 1px #999;
	box-shadow: 0 0 1px #999;
	margin: 0;
	position: relative;
	padding: 5px 20px 10px 20px;
	overflow: auto;
}

.messages {
	margin-top: 10px;
	.alert {
		padding: 5px;
	}
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.field_with_errors .error {
	color: red;
}
.error_notification {
	color: red;
}

.sidebar {
	padding: 10px;
	width: 200px;
	background: #f8f8f8;
	-webkit-box-shadow: 0 0 1px #999;
	-moz-box-shadow: 0 0 1px #999;
	box-shadow: 0 0 1px #999;
	margin: 0;
	position: relative;
	padding: 5px 10px 10px 10px;
}
.sidebar-left {
	float: left;
	margin-left: -210px;
	.search-box {
		margin-top:10px;
	}
	hr {
		margin: 10px 0;
		border-top: 1px solid #999;
	}
}

.sidebar-right {
	float: right;
	margin-right: -210px;
	.search-box {
		margin-top:10px;
	}
	hr {
		margin: 10px 0;
		border-top: 1px solid #999;
	}
}

.main-content {
	float: left;
	width: 100%;
	min-width: 400px;
	position: relative;
	padding-right: 210px;

	&.main-content-full {
		padding-right: 0px;
	}
}


.main-container {
	margin-top: 50px;
	padding: 0 10px;

	&.unpaid {
		padding-left: 10px;
	}
}

/* ACTIVITY */
.activity-list {
	margin: 0;
	padding: 0;
	list-style: none;
	.activity-item {
		position: relative;
		border-bottom: 1px solid #e5e5e5;
		margin-top: 10px;

		.activity-link {
			color: #666;
			min-height: 70px;
			padding: 0;
			display: block;
			width: 100%;
			text-decoration: none;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-box-flex: 1;
			-moz-box-flex: 1;
			box-flex: 1;

			.activity-body {
				.title {
					color: #006AA4;
					font-family: 'AdelleSansWeb','Helvetica Neue',Arial,Helvetica,sans-serif;
					font-size: 11px;
					font-style: normal;
					font-variant: normal;
					font-weight: normal;
					letter-spacing: 1px;
					line-height: 16px;
					margin: 0;
					margin-bottom: 9px;
					padding: 0;
					text-rendering: optimizelegibility;
					text-transform: uppercase;
					word-wrap: break-word;
				}
				h2 {
					-webkit-box-flex: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					pointer-events: none;
					position: static;
					text-align: left;
					text-decoration: none;
					text-rendering: optimizelegibility;
					width: 100%;
					word-wrap: break-word;
					font-family: "PTSerif",Georgia,serif;
					font-size: 1em;
					font-weight: normal;
					line-height: 1.3em;
					margin: 0;
					color: #323232;
				}
			}

			.activity-metadata {
				margin: 4px 0 15px 0;
				width: 100%;
				display: inline-block;

				span {
					padding: 0;
					color: #999;
					font-family: "PTSerif",Georgia,serif;
					font-style: italic;
					font-size: 12px;
					line-height: 21px;
					text-decoration: none;
					text-rendering: optimizelegibility;
					background-repeat: no-repeat;
					background-position: center left;
				}

				.activity-timestamp {
					padding-left: 18px;
					margin-left: 12px;
					background-image: url(image-path('article.svg'));
					
				}
			}
		}
	}
	.activity-item-last {
		border-bottom: none;
	}
}



#lp {
	#contact-row-4 .icon {
		font-size: 60px;
	}
	.nav-collapse {
		.logo {
			float: left;
			margin-top: 5px;
			img {
				height: 40px;
			}
		}
		.row.slider {
			clear: both;
		}
		ul.nav {
			float: left;
		}
	}
}

body.def {
	.navbar {
		.logo {
			float: left;
			margin-top: 5px;
			img {
				height: 40px;
			}
		}
		.container {
			float: left;
			width: 1020px;
		}
		.container-logo {
			width: 1170px;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.subscription-alert {
	margin-top: 10px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	font-size: 16px;
}

.timestamp {
	font: 12px "PTSerif",Georgia,serif;
	color: #999;
}

.recommendations {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 200px;
	font-size: 12px;

	.rec-title {
		font-size: 16px;
		margin-bottom: 0px;
	}
	hr {
		margin: 0 0 6px 0;
		border-top: 1px solid #ccc;
	}
	.rec-ads {
		margin-top: 30px;
	}
}

// .fancybox-nav {
// 	background: transparent url(blank.gif);
// }