#updateProfieForm {
	.input {
		width: 300px;
	}
}
#tiInput {
	display: none;
}

.form-container {
	float: left;
}
.pic-container {
	float: left;
	margin-left: 40px;
	div {
		text-align: center;
	}
	.mlabel {
		margin-bottom: 5px;
		font-weight: bold;
	}
}

#dUploader {
	h2 {
		margin-top: 5px;
	}
	#fPickerDone {
		float: right;
		margin-right: 5px;
	}
	#fPickerCancel {
		float: right;
	}
	#jcrop {
		margin-top: 10px;
		background: 1px solid #000;
	}
}

#fileupload {
	display: none;
}

.profile-feed-form {
	#but-add-image {
		float: left;
		margin-top: 2px;
	}
	.images-container {
		float: left;
		margin-left: 10px;

		.images-list {
			list-style: none;
			padding: 0;
			overflow: auto;
			margin: 0;

			li {
				float: left;
				margin-right: 2px;
				> div {
					width: 40px;
					height: 40px;
					border: 1px solid #000;

					img {
						max-width: 38px;
						max-height: 38px;
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
	}
}

.profile-container {
	.stats {
	  overflow: auto;
	  a {
	    float: left;
	    padding: 0 10px;
	    border-left: 1px solid #ddd;
	    color: gray;
	    &:first-child {
	      padding-left: 0;
	      border: 0;
	    }
	    &:hover {
	      text-decoration: none;
	      color: #3366FF;
	    }
	  }
	  strong {
	    display: block;
	  }
	}
	.user_avatars {
	  overflow: auto;
	  margin-top: 10px;
	  .gravatar {
	    margin: 1px 1px;
	  }
	}
}

.profile-avatar {
	height: 50px;
	width: 50px;
}
.user_avatars .profile-picture {
	height: 50px;
	width: 50px;
}